header.header
  div.div-header
    div.header__logo
      a.header__logo-link(href='/')
        img.header__logo-pic(
          src="../assets/svg/logo.svg" 
          alt="Логотип монтаж дымоходов"
        )

    div.header__burger-menu
      img.header__logo-pic(
        src="../assets/svg/burger_menu.svg" 
        alt="burger-menu"
      )
    div.header__all-header-items
      include header-menu

      div.header__part-of-header-wrapper

        div.header__phone
          div.header__first-part-phone +7 (812)
          div.header__second-part-phone 509 21 98

        div.header__phone-me перезвоните мне

        include social-networks-icons
        include routes-icons
