doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Монтаж дымоходов
    link(rel="stylesheet" href="../assets/css/reset.css")
    link(rel="stylesheet" href="../assets/css/style.css")

  body
    include header/header

    div.wrapper-content
      div.content-title Монтаж дымоходов
      div.bread-crumbs 
        | Главная > Монтаж дымоходов
        hr
      p В Дымоход.ру  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .


    footer.footer

    