/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: boreder-box;
}

*, *::before,*::after {
  box-sizing: inherit;
}

/* Кастомные стили */

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #000000;
}

/* Header */

.header {
  width: 100%;
  justify-content: center;
  height: 97px;
  text-transform: uppercase;
  margin-top: 28px;
}

.div-header {
  display: flex;
  max-width: 1794px;
  /* margin: 0 auto; */
  margin: 0 3.28125%;
  align-items: center;
  width: 100%;
}

/* .header__nav {
  width: 100%;
} */

.header, .header__list {
  display: flex;
  flex-direction: row;
}

.wrapper-content {
  max-width: 1218px;
  margin: 54px auto 0;
}

.header__list {
  line-height: 23px !important;
  /* min-width: 665px; */
  min-width: 620px;
  padding-right: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__link {
  text-decoration: none;
  color: #4C858B !important;
  font-weight: 700;
}

.header__social-networks-icons {
  min-width: 118px;
  margin: 1px -3px 0 0;
  display: flex;
  justify-content: space-between;
}

.header__routes-icons {
  display: flex;
  justify-content: space-between;
  min-width: 202px;
}

.header__social-networks {
  width: 20px;
}

/* 'vk_icon', 'tg-icon', 'inst-icon', 'wsup-icon' */
.vk-icon {
  margin: 0 2px 0 0;
}

.tg-icon {
  margin: 0 5px 0 0;
}

.inst-icon {
  margin: 0 3px 0 0;
}

.wsup-icon {
  margin: 0 -2px 0 0;
}

.header__part-of-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 825px; */
  min-width: 53.3635118%;
  margin-top: -2px;

}

.header__phone {
  min-width: 162px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #4C858B;
}

/* .header__first-part-phone */
.header__second-part-phone {
  font-weight: 700;
  color: black;

  display: flex;
  align-items: center;

}

.header__phone-me {
  font-size: 14px;
  min-width: 156px;
  line-height: 17px;
  color: #AE2236;
  border-bottom: 1px dashed #AE2236;
  font-weight: 700;
  margin: 1px -1px 0 0;
}

.header__all-header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 86.1761427%;
  /* width: 100%;
  max-width: 1546px; */
}

.header__burger-menu {
  /* margin: -1px 31px 0 0; */
  margin: -1px 1.722798216% 0 0;
}

.header__logo {
  /* margin: -4px 52px 0 0; */
  margin: -4px 2.89855072% 0 0;
}


/* Content/ Body */
.content-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  color: #000000;
}

.content-title {
  margin-bottom: 40px;
}

.hr-top {
  margin-bottom: 13px;
}

.hr-bottom {
  margin-top: 19px;
}

.bread-crumbs {
  margin-bottom: 80px;
  font-size: 12px;
  line-height: 15px;
  font-family: inherit;
  /* color: #B1B1B1; */
}

.text {
  margin-bottom: 47px;
}

.lorem-with-pic {
  display: flex;
  font-display: row;
}

.lorem-title {
  display: flex;
  flex-direction: column;
  line-height: 63px;
  margin-bottom: 40px;
}

.lorem-first-title {
  font-weight: 600;
  font-size: 40px;
  margin: 0 0 -5px -2px;
}

.lorem-second-title {
  font-weight: 800;
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(236, 63, 63);
  margin: 1px 0 0 -1px;

}

.lorem-list-wrapper {
  min-width: 613px;
}

.content__lorem-list {
  margin: 0 50px 0;
  max-width: 513px;
  line-height: 24px;
  margin-bottom: 105.2px;
}

.content__lorem-item {
  list-style-image: url(../svg/ellipse.svg);
  padding: 0 0px 24px 10px;
  margin-left: -6px;
}

.lorem-img-wrapper {
  width: 766px;
  height: 541px;
}

.lorem-img-blob {
  margin: -3px -161px 0px 0;
  /* width: 126.59%;; */
  width: 766px;
  height: 541px;
}

.lorem-img-image_3 {
  width: 477px;
  height: 459px;
  margin: -28px 110px 110px 179px;
}

.lorem-img-dots-group1 {
  /* width: 36.03px;
  height: 147.54px;
  margin: 4.88px 584.91px 388.58px 145.05px; */
  width: 37.03px;
  height: 165.54px;
  margin: -7.12px 584.91px 388.58px 145.05px;
}

.lorem-img-dots-group2 {
  /* width: 36.03px;
  height: 147.54px;
  margin: 426px 61.97px -32.54px 668px; */

  width: 37.03px;
  height: 150.54px;
  margin: 421px 61.97px -32.54px 668px;
}

.lorem-img-triangles1 {
  /* width: 77.51px;
  height: 19.2px;
  margin: 148px 670.79px 373.8px 18px; */

  width: 80.51px;
  height: 22.2px;
  margin: 144px 670.79px 373.8px 18px;
}

.lorem-img-triangles2 {
  /* width: 77.51px;
  height: 19.2px;
  margin: 55px 2.49px 466.8px 686px; */

  width: 79.51px;
  height: 20.2px;
  margin: 52px 2.49px 466.8px 685px;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  box-sizing: border-box;
  /* width: 100%; */
}

.parent {
  position: relative;
}

.content__subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 52px;
}

.time-class {
  margin-bottom: 434px;
}

.mb50 {
  margin-bottom: 51px;
}

.text-why {
  margin: 0 0 50px 3px;
}

.number-wrapper {
  width: 53.23px;
  margin-right: 25px;
}

.first-number {
  margin-right: 17px;
}

.number {
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
  /* margin-right: 37px; */
  /* width: 45px; */
}

.process-list {
  display: flex;
  flex-direction: row;
}

.process-first-column {
  margin-right: 28px;
}

.process-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.process-item-text {
  max-width: 515px;
  line-height: 30px;
}

.wrapper-process-list {
  margin-bottom: 91px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px 0 98px;

}

.card {
  width: 387px;
}
.card-img {
  height: 79px;
  margin-bottom: 32px;
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 11px;
}


.consultation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.consultation_first {
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}

.consultation_second {
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.18px;
  margin-bottom: 25px;
}

.consultation-icons-wrapper {
  display: flex;
  justify-content: center;
}

.content__social-networks-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  margin-bottom: 36px;
}

.consultation-form-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 124px 0;
}

.consultation-form {
  width: 866px;
  height: 260px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.consultation-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 13px;
}

.consultation-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 21px;
  margin-left: -2px;
}

.consultation-margin {
  margin: 57px 0 0 60px;
}

.input {
  height: 56px;
  min-width: 240px;
  margin-right: 13px;
  margin-left: -1px;
  padding-left: 15px;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.submit {
  height: 50px;
  min-width: 224px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-left: -1px;
  letter-spacing: 1px;
  background: #215359;
  color: #FFFFFF;
}

.subtitle-video {
  margin: 0 2px 67px -3px;
}

.time-class-video {
  margin-top: 67px;
  margin-bottom: 652px;
}

.subtitle-photos {
  margin: 0 0 67px -3px;
}

.text-photos {
  margin-bottom: 732px;
}

@media (min-width: 1679px) and (max-width: 1800px) {
  .div-header {
    margin: 0 2.8%;
  }

  .header__part-of-header-wrapper {
    min-width: 52%;
  }
}

@media (max-width: 1680px) {
  .header__social-networks-icons {
    display: none;
  }
}

@media (max-width: 1570px) {
  .header__phone-me {
    display: none;
  }

  .lorem-img-wrapper {
    display: none;
  }
}

@media (min-width: 1570px) and (max-width: 1680px) {
  .header__part-of-header-wrapper {
    min-width: 45%;
    min-width: 39%;
  }
}

@media (min-width: 1400px) and (max-width: 1570px) {
  .header__part-of-header-wrapper {
    min-width: 39%;
  }
}

@media (min-width: 1350px) and (max-width: 1400px) {
  .header__part-of-header-wrapper {
    min-width: 37%;
  }
}

@media (max-width: 1350px) {
  .header__phone {
    display: none;
  }

  .header__part-of-header-wrapper {
    min-width: 20%;
  }

  .bread-crumbs {
    margin-bottom: 70px;
  }
}



@media (min-width: 1120px) and (max-width: 1350px) {
  .wrapper-content {
    max-width: 1000px;
  }
}

/* @media (min-width: 1050px) and (max-width: 1120px) */
@media (min-width: 900px) and (max-width: 1120px) {
  .wrapper-content {
    max-width: 800px;
  }

  .header__list {
    min-width: 95%;
    margin-right: 5px;
  }

  .header__nav {
    width: 73%;
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  .wrapper-content {
    max-width: 735px;
    margin: 61px auto 0;
  }

  .header__logo-pic {
    width: 64px;
    /* height: 62px; */
  }

  .header {
    margin-top: 10px;
  }

  .header__burger-menu {
    width: 56px;
    height: 56px;
  }

  .header__nav {
    display: none;
  }

  .div-header {
    margin: 0 2.1%;
  }

  .content-title {
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 29px -2px;
  }

  .bread-crumbs {
    margin: 0 0 59px -2px;
  }

  .text {
    margin: 0 0 12px 1px;
  }

  .lorem-title {
    margin: 0 0 22px 0px;
  }
  
  .lorem-first-title {
    font-size: 30px;
    margin: 0 0 -9px -1px;
  }

  .lorem-second-title {
    font-size: 40px;
    line-height: 52px;
    margin: 1px 0 0 0px;
  }
 
  .content__lorem-list {
    margin: 0 25px 47px 50px;
    max-width: 665px;
  }

  .content__subtitle {
    margin: 0 0 28px -4px;
    font-size: 30px;
    line-height: 37px;
  }

  .number {
    font-size: 50px;
    line-height: 61px;
    color: #E33E54;
    opacity: 0.2;
  }

  .wrapper-process-list {
    margin-bottom: 46px;
  }
}


/* @media (max-width: 768px) {
  .lorem-with-pic {
    justify-content: center;
  }
} */

/* 1680px */
/* 768px */

/* @media (max-width: 768px) {

} */