- var catalogItems1 = ['Дымоходы', 'Дымососы', 'Печи для дома', 'Печи для бани'];
- var catalogItems2 = ['Камины', 'Силикат кальция', 'Котлы', 'Ещё'];
- var infoItems1 = ['Каталог', 'Установка и монтаж', 'Отзывы', 'Ликвидация товара'];
- var infoItems2 = ['Полезное', 'Контакты', 'Оплата и доставка'];



footer.footer
  .wrapper-content.wrapper-footer
    .catalog-wrapper
      .footer__title.catalog  КАТАЛОГ
      .footer__content 
        .footer__column
          each item in catalogItems1
            .footer__content-item #{item}
        .footer__column
          each item in catalogItems2
            .footer__content-item #{item}

    .info-wrapper
      .footer__title.info-title ИНФОРМАЦИЯ
      .footer__content.info
        .footer__column.info-column
          each item in infoItems1
            .footer__content-item.info-item #{item}
        .footer__column.info-column
          each item in infoItems2
            .footer__content-item.info-item #{item}

    .work-time-wrapper
      .footer__title.work-time-title ВРЕМЯ РАБОТЫ
      .footer__content
        .footer__column.time-work-column

          .footer__content-item.work-time

            .time-with-icon
              .wrapper-wall-clock
                img.wall-clock(src="../assets/svg/wall-clock.svg")
              .time 
                <span><span class='time-color'>пн-пт</span> 9:00 – 20:00   </span>
                <span><span class='time-color time-color-second'>сб-вс</span> 10:00 – 18:00</span>
              

            .adress-with-icon
              .wrapper-placeholder
                img.placeholder(src="../assets/svg/placeholder.svg")
              .adress г. Санкт - Петербург ,ул. Тамбасова д.7
          include footer-icons
        


