div.consultation
  div.consultation_first необходима консультация?
  div.consultation_second оставьте заявку или свяжитесь с нами в социальных сетях
  div.consultation-icons-wrapper
    include social-networks-icons-orange
  div.consultation-form-wrapper
    div.consultation-form
      div.consultation-margin
        div.consultation-title Для <b>консультации</b> заполните форму!
        div.consultation-text С Вами свяжутся в ближайшее время
        div.form
          input.input(placeholder="Ваше имя")
          input.input(placeholder="Ваш телефон")
          button.submit отправить