div.wrapper-content
  div.content-title Монтаж дымоходов
  div.bread-crumbs
    hr.hr-top
    | Главная  >  Монтаж дымоходов
    hr.hr-bottom
  p.text В <b style="fontWeight: 800">Дымоход.ру</b>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
  
  div.lorem-with-pic
    div.lorem-list-wrapper
      div.lorem-title
        div.lorem-first-title Lorem ipsum dolor sit amet
        div.lorem-second-title Lorem ipsum
      include lorem-list

    include lorem-img
    

  div.wrapper-process-list
    div.content__subtitle Процесс выполнения монтажа
    include process-list

  div.content__subtitle.mb50 Почему Дымоход.ру?
  p.text.text-why В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
  include cards

  include consultation

  div.content__subtitle.subtitle-video Видео об установке
  p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  //- div.content__subtitle Фото выполненных работ
  //- p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  //- div.photos