div.wrapper-content
  div.content-title Монтаж дымоходов
  div.bread-crumbs 
    | Главная  >  Монтаж дымоходов
    hr
  p.text В <b>Дымоход.ру</b>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
  div.lorem-title
    div.lorem-first-title Lorem ipsum dolor sit amet
    div.lorem-second-title Lorem ipsum
  include lorem-list

  div.wrapper-process-list
    div.content__subtitle Процесс выполнения монтажа
    include process-list

  div.content__subtitle.mb50 Почему Дымоход.ру?
  p.text В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
  include cards

  div
    div необходима консультация?
    div оставьте заявку или свяжитесь с нами в социальных сетях
  