div.lorem-img-wrapper.parent
  img.lorem-img-blob.child(src="../assets/svg/blob.svg")
  img.lorem-img-image_3.child(src="../assets/svg/image_3.svg")
  img.lorem-img-dots-group1.child(src="../assets/svg/dots-group.svg")
  img.lorem-img-dots-group2.child(src="../assets/svg/dots-group.svg")
  img.lorem-img-triangles1.child(src="../assets/svg/triangles.svg")
  img.lorem-img-triangles2.child(src="../assets/svg/triangles.svg")