div.photos
  .photo.parent
    .border-right-up
    .border-left-down
    img.child.img-photo(src="../assets/svg/photo_1.svg" alt='photo_1')
  .photo.parent
    .border-right-up
    .border-left-down
    img.child.img-photo(src="../assets/svg/photo_2.svg" alt='photo_2')
  .photo.parent
    .border-right-up
    .border-left-down
    img.child.img-photo(src="../assets/svg/photo_3.svg" alt='photo_3')
  .photo.parent
    .border-right-up
    .border-left-down
    img.child.img-photo(src="../assets/svg/photo_4.svg" alt='photo_4')
  .photo.parent
    .border-right-up
    .border-left-down
    img.child.img-photo(src="../assets/svg/photo_5.svg" alt='photo_5')
  .photo.parent
    .border-right-up
    .border-left-down
    img.child.img-photo(src="../assets/svg/photo_6.svg" alt='photo_6')
  .photo.parent
    .border-right-up
    .border-left-down
    img.child.img-photo(src="../assets/svg/photo_7.svg" alt='photo_7')
  .photo.parent
    .border-right-up
    .border-left-down
    img.child.img-photo(src="../assets/svg/photo_8.svg" alt='photo_8')