div.process-list
  ul.process-first-column
    li.process-item
      div.number-wrapper.first-number
        div.number 1
      div.process-item-text Рассчёт предварительной заявки
    li.process-item
      div.number-wrapper
        div.number 2
      div.process-item-text Замер объекта нашим инженером
    li.process-item
      div.number-wrapper
        div.number 3
      div.process-item-text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы
  ul    
    li.process-item
      div.number-wrapper.first-number
        div.number 4
      div.process-item-text Изготовление Дымохода, покраска (если требуется)
    li.process-item
      div.number-wrapper
        div.number 5
      div.process-item-text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
    li.process-item
      div.number-wrapper
        div.number 6
      div.process-item-text Гарантийное обслуживание по соответствующем сроку